/* Styles for the content area.  This includes general node styling */

#content {
  background: #fff;
}

#content a {
  color: #1b5b9e;
  color: #144273;
}

#page-tabs {
  position: absolute;
  top: -32px;
  height: 30px;
}

#page-tabs ul.primary {
  margin: 0;
  padding: 0;
  height: 30px;
  border: 0px;
}

#page-tabs ul.primary li {
  display: block;
  float: left;
  height: 30px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  margin-right: 20px;
  border: 1px solid #c0c0c0;
  border-bottom: 1px solid #aaa;
}

#page-tabs ul.primary li.active {
  border-color: #aaa;
  border-bottom: 1px solid #fff;
}

#page-tabs ul.primary a {
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 0;
  border: none;
  background: inherit;
}

#page-title {
  margin: 0 0 1em 0;
}

.node {
  margin-bottom: 3em;
}

.node .links {
  font-size: 0.875em;
}

.node-drupalimc-event .field {
  margin-top: 1em;
}

.node .field-name-field-categories .field-item {
  display: inline;
  padding-right: 0.5em;
}

.page-node #page-title {
  margin: 0;
}

#comments {
  margin-top: 3em;
}

.comment {
  margin-bottom: 2em;
}

ul.inline .first {
  padding: 0;
}

.submitted {
  font-style: italic;
}

.hidden-node #content {
  border-color: #f00;
  border-style: dotted;
}

.hidden-status {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #f00;
  color: #fff;
  padding: 0 .5em;
  font-weight: bold;
  font-size: 0.875em;
  padding: 0.25em 1.0em;
}

.local-status {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #222;
  color: #d0d0d0;
  padding: 0.1em 1.0em;
  font-size: 0.875em;
  font-family: Georgia, serif;
}

