
#footer {
  background: #1a1a1a;
  color: #aaa;
  padding: 1.5em 2em;
}

#footer a {
  color: #327AC5;
  text-decoration: underline;
}

#footer h2 {
  color: #fff;
  letter-spacing: +0.05em;
  font-family: Georgia, serif;
  text-align: center;
  margin-bottom: 1em;
}


#footer .block-indymedia-cities {
  font-size: 0.875em;
  text-align: justify;
  line-height: 1.8;
}

#footer .block-indymedia-cities ul,
#footer .block-indymedia-cities li,
#footer .block-indymedia-cities div {
  display: inline;
}

#footer ul.contextual-links {
  display: none;
}


#footer .block-indymedia-cities ul li {
  margin-right: 0.8em;
}

#footer .block-indymedia-cities ul ul li {
  margin-right: 0.8em;
}

#footer .block-indymedia-cities ul .item-list {
  margin-left: 0.8em;
}

#footer .block-indymedia-cities ul li {
}
