/* navbar */

#navbar-wrapper {
  background: #000;
}

#navbar {
  margin: 0 auto;
}

#navigation ul.links {
  margin: 0;
  padding: 0;
}

#navigation ul.links a {
  color: #ddd;
  display: block;
  margin: 10px 0;
  height: 30px;
  line-height: 30px;
  padding: 0px 6px;
  font-size: 0.85em;
  border-radius: 9px;
  margin-right: 0.5em;
}

#navigation ul.links a#publish {
  font-weight: bold;
  color: #fff;
}

#navigation ul a.active {
  background: #103099;
  color: #fff;
}

#navigation ul a:hover {
  background: #1b55cc;
  text-decoration: none;
  color: #fff;
}

#main-menu {
  float: left;
}

#secondary-menu {
  float: right;
}

#main-menu li {
  float: left;
}

#secondary-menu li {
  float: right;
}

@media screen and (max-width: 759px) {
  /* Display menus on top of each other instead of side by side when we don't
   * have tons of width.
   */
  #main-menu,
  #secondary-menu {
    float: none;
  }

  #secondary-menu li {
    float: left;
  }
}

/* region on the right of the navbar */

.region-navbar {
  float: right;
  margin-right: 20px;
  margin-top: 16px;
}

#navbar #search-block-form .form-text {
  background: #555;
  border: 1px solid #999;
  color: #eee;
  letter-spacing: +0.05em;
  font-size: 0.9166em;
  width: 12em;
  padding: 2px 4px;
  font-family: helvetica, arial, sans;
}

#navbar #search-block-form .form-submit {
  background: url("images/search-glass.png") left top no-repeat;
  height: 16px;
  width: 16px;
  cursor: pointer;
  text-indent: -9999px;
  border: none;
  margin: 0;
  padding: 0;
}

/* User menu */

#user-menu {
}

#user-menu ul {
  margin: 0px 0px 4px 0px;
  padding: 4px 0px;
}

#user-menu #secondary-menu li {
  float: right;
  margin-right: 24px;
}

#user-menu li a {
  color: #000;
}

#header {
  margin: 0 auto;
  min-height: 80px;
}

#header-main {
  float: left;
  margin-right: -220px;
}

#header-side {
  float: right;
  width: 200px;
  text-align: right;
}

/* Site name, slogan and banner */
a#banner-image {
  display: block;
}

a#banner-image img {
  float: left;
}
 

#site-slogan {
  margin: 6px 0px 12px 0px;
  color: #c00;
  font-style: italic;
}

#name-and-slogan h1 {
  margin: 6px 0px;
}

/* Make the toolbar just stay at the top with our regular navbar */
#toolbar {
  position: absolute;
}
