/* Main page layout.  Here we float regions to the left or rights and set up
 * their widths.  The contents of each thing is not our business.
 */

/* Setup styles that hold for all screen widths */

#featured {
  margin-bottom: 30px;
}

#main {
  margin: 0 auto;
  position: relative;
}

#main-after-messages {
  padding: 40px 0px;
}

#content {
  padding: 29px;
  border: 1px solid #aaa;
  /* If the content div isn't taller than the highlighted div, then our floats
   * get weird */
  min-height: 550px;
  position: relative;
}

.sidebar {
  float: right;
  margin-left: 30px;
}

/* Layout for medium screens (980px or a bit over).  This is also what gets
 * used on IE versions before 9 that don't support media queries.
 */

#navbar,
#header,
#main {
  width: 920px;
}

.main-column {
  float: left;
  width: 560px;
}

.sidebar {
  width: 320px;
}

/* Layout for extremely small widths (smartphones) */

@media screen and (max-width: 759px) {

  /* Make search block smaller */
  #navbar #search-block-form .form-text {
    width: 8em;
  }

  /* Eliminate floating content.  Everything goes in the same column */

  .main-column, .sidebar {
    float: none;
    width: auto;
  }

  .sidebar {
    margin-left: 0px;
  }

  #header,
  #main {
    width: auto;
    padding: 20px 30px;
  }

  #navbar {
    width: auto;
    margin: 0 30px;
  }

  /* Add some extra padding to the content since the sidebars will be below
   * it. */
  #content {
    margin-bottom: 4em;
  }

}

/* Layout for fairly small widths (tablets) */
@media screen and (min-width: 760px) and (max-width: 879px) {
  #navbar,
  #header,
  #main {
    width: 700px;
  }

  .main-column {
    width: 450px;
  }

  .sidebar {
    width: 220px;
  }
}

/* Layout for smallish widths (tablets) */
@media screen and (min-width: 880px) and (max-width: 979px) {
  #navbar,
  #header,
  #main {
    width: 820px;
  }

  .main-column {
    width: 490px;
  }

  .sidebar {
    width: 300px;
  }
}

/* Layout for wide widths */
@media screen and (min-width: 1150px) {
  #navbar,
  #header,
  #main {
    width: 1090px;
  }

  .main-column {
    width: 680px;
  }

  .sidebar {
    width: 380px;
  }
}

/*
 * If there's no sidebars, then we can give our content area the whole space.
 */

#content.no-sidebars {
  width: auto;
  float: none;
}
