/* Layout for phones and other screens with very narrow widths.
 * This gets included when our width is < 700px
 */

/* Make search block smaller */
#navbar #search-block-form .form-text {
        width: 8em;
}

/* Eliminate floating content.  Everything goes in the same column */

#content, .sidebar {
  float: none;
  width: auto;
}

#content .section,
.sidebar .section {
  margin: 0;
  padding: 0;
}

#main {
  width: auto;
}
