/* Style sidebars */

.sidebar {
   font-size: 0.75em; /* 12px by default */
}

.sidebar .block {
  background: #fcfcfc;
  border: 1px solid #c4c4c4;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.03);
  margin-bottom: 1.5em;
}

.sidebar h2 {
  background: #f1f1f1;
  margin: 0px;
  padding: 0.5em .75em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

.sidebar .content {
  padding: 0.5em .75em;
}

/* Override some of that for the highlighted box */

#highlighted {
  font-size: 0.875em; /* 14px by default */
}

#highlighted .block {
  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.2);
}

#highlighted .content {
  background: #f1f1f1;
}

#highlighted h2 {
  border-bottom: none;
  border-top: none;
}

/* Style elements inside sidebars */

.sidebar .views-row,
.sidebar .item-list ul li {
  margin-bottom: 0.75em;
}

.sidebar td {
  padding-bottom: 0.75em;
}

.sidebar a {
  color: #1b5b9e;
}

/* Style comments block */

#block-comment-recent tr,
#block-comment-recent tbody {
  border: none;
  background: transparent;
}

#block-comment-recent table {
  width: 100%;
}

#block-comment-recent td.time {
  min-width: 150px;
  text-align: right;
  vertical-align: top;
}

/* Style upcoming events */

.view-drupalimc-upcoming-events h3 {
  font-size: 1.3em;
  line-height: 2.3; /* Makes this line up with 2 normal size lines */
}

.view-drupalimc-upcoming-events h3 a {
  vertical-align: bottom;
}

/* By default we set up 2 rows of events */
.view-drupalimc-upcoming-events .views-row {
  float: left;
  width: 50%;
}

.view-drupalimc-upcoming-events .view-content:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.view-drupalimc-upcoming-events .view-footer {
  text-align: center;
}

.view-drupalimc-upcoming-events .views-row .views-field {
  margin-right: 1em;
}

/* For small widths, we only use 1 */
@media screen and (min-width: 760px) and (max-width: 959px) {
  .view-drupalimc-upcoming-events .views-row {
    float: none;
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .view-drupalimc-upcoming-events .views-row {
    float: none;
    width: auto;
  }
}

/* Style RSS links */
#block-menu-drupalimc-rss-links h2 {
  background-image: url(images/rss-icon-small.png);
  background-repeat: no-repeat;
  background-position: 6px 50%;
  padding-left: 40px;
}

