/* Undo some default drupal/browser settings */

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* Menus */

ul, ol {
  padding: 0 0 0 1em;
  margin: 0 0 0 0em;
}

.item-list ul {
  list-style-type: none;
}

.item-list ul li {
  margin-left: 0;
}

#content ul.tabs li a {
  color: #333;
}

#content ul.tabs li a.active {
  font-weight: bold;
}

ul li.leaf {
  list-style: disc url(images/arrow-icon.png);
}

th {
  padding: 0 0.5em;
}

td {
  padding: 0.25em 0.25em;
}

/* Set fonts */

#page,
input {
  font-family: Arial, Helvetica, sans-serif;
}

#site-slogan,
.sidebar h2 {
  font-family: Georgia, serif;
}

/* Default text layout */

p {
  margin: 0.75em 0;
}

h1 {
  font-size: 1.8em;
  line-height: 1.2;
  margin-bottom: 1.2em;
}

h2 {
  font-size: 1.3em;
  line-height: 1.3;
}

h3 {
  font-size: 1em;
}

blockquote {
  padding: 0 5px 0 50px;
  margin: 1em;
  background: 5px 0.5em url("images/big-left-quote.png") no-repeat;
  background-color: #fef5ca;
  border: 1px solid #b0b0b0;
}

/* text color */
#page {
  color: #333;
}

h1, h2 {
  color: #000;
}

/* links */
#page h1 a,
#page h2 a {
  color: #000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Nodes */

/* Forms */

input.form-text {
  border: 1px solid #a0a0a0;
  padding: .25em;
}

input.form-text:focus,
input.form-text:hover {
  border-color: #2051a0;
}

input.form-text:focus {
  border-width: 2px;
  margin: -1px;
}

.form-managed-file input.form-file {
  font-size: 0.85em;
  margin-right: 0.5em;
}

input.form-submit,
a.button {
  padding: .25em 1.0em;
  border:1px solid #dcdcdc;
  background-color: #f0f0f0;
  border-radius:6px;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.03);
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
  margin-right: 1em;
}

input.form-submit:hover,
a.button:hover {
  background-color: #f6f6f6;;
}

input.form-submit:active,
a.button:active {
  background-color: #fff;;
  border-color: #aaa;
}

/* Fix autocomplete throbber for our bigger form elements */
html.js input.form-autocomplete {
  background-image: url("images/throbber.gif");
  background-position: 100% 7px;
  background-repeat: no-repeat;
}

html.js input.form-autocomplete.throbbing {
  background-position: 100% -23px;
}

/* Don't let images/audio/video take up more space then their containers */
object,
embed,
audio,
video,
.media-youtube-outer-wrapper,
.media-bliptv-outer-wrapper,
.media-bliptv-preview-wrapper,
.bliptv-player,
img {
  max-width: 100%;
}

/* Better styles for multiselect */
.multiselect_labels {
  width: 565px;
}

.multiselect_labels .label_selected {
  margin: 0;
  width: 250px;
}

/* Anonymous posting message */
.anonymous-post-message {
  padding: 10px;
  margin: 6px 0px;
  background-color: #F8FFF0;
  border: 1px solid #BBEE77;
  font-size: 85%;
}

/* Media styles */
div.media-provider {
  display: inline-block;
  margin-right: 6px;
}

/* Couple of extra styles that don't have a better place to go */

#header-wrapper {
  border-bottom: 1px solid #ddd;
}

#main-wrapper {
  border-top: 1px solid #fff;
  background: url(images/main-background.png);
}
