.node-drupalimc-article .field-name-field-drupalimc-categories {
  margin-top: 1.5em;
}

.node-drupalimc-article .field-name-field-drupalimc-categories div {
  display: inline;
  margin-right: 1.5em;
}
