/* $Id: indymedia_cities.css,v 1.1.4.3 2010/08/15 19:20:32 mfb Exp $ */

.indymedia_cities-accordion.ui-accordion .ui-accordion-li-fix {
  display: block;
}
.indymedia_cities-accordion .ui-accordion-header {
  display: block;
  padding-left: 2em;
}
.block ul.indymedia_cities-accordion, .block ul.indymedia_cities-accordion li {
  padding: 0;
}
