.view-drupalimc-feature-slider .view-content {
        box-shadow: 0 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.view-drupalimc-feature-slider .view-content {
        position: relative;
}

.view-drupalimc-feature-slider .item-list li.views-row {
        position: relative;
        margin: 0px;
        padding: 0px;
        list-style: none;
}

.view-drupalimc-feature-slider a,
.view-drupalimc-feature-slider img {
        display: block;
}

.view-drupalimc-feature-slider img {
        max-width: 100%;
}

.view-drupalimc-feature-slider ul.slides {
        margin: 0;
}

.view-drupalimc-feature-slider ul.flex-direction-nav,
.view-drupalimc-feature-slider ul.flex-direction-nav li {
  margin: 0;
  padding: 0;
}

#page .view-drupalimc-feature-slider .drupalimc-feature-text {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  padding: .25em 1em;
}

#page .view-drupalimc-feature-slider .drupalimc-feature-text h2 {
  padding: 0;
  margin: 0;
  font-size: 1.3em;
  height: 1.3em;
  overflow: hidden;
}

#page .view-drupalimc-feature-slider .drupalimc-feature-text a {
  text-decoration: none;
  color: #ddd;
}

#page .view-drupalimc-feature-slider .drupalimc-feature-tagline {
  max-height: 3em;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#page .view-drupalimc-feature-slider .drupalimc-feature-tagline a {
  color: #bbb;
  line-height: 1.5em;
  max-height: 3em;
}


/* Don't use the text-indent: -9999px trick that flexslider uses.  It makes
 * really ugly focus rings on firefox ubuntu.  Instead we just use a blank
 * label.  The text-indent trick is for SEO optimization, but I don't think
 * it's very effective especially since the text gets added with a javascript
 * call.
 */
.view-drupalimc-feature-slider .flex-direction-nav li a {
  text-indent: 0px;
}

.view-drupalimc-feature-slider .view-footer {
  text-align: right;
  padding: 4px 0 0 0;
}

.view-drupalimc-feature-slider .view-footer p {
  margin: 0;
  padding: 0;
  font-size: 0.875em;
}

.view-drupalimc-feature-slider .view-footer a {
  color: #1a1a1a;
}

/* This makes it so that if javascript is turned off, the slideder looks
 * reasonably okay.
 */
.view-drupalimc-feature-slider .item-list {
  overflow: hidden;
}

.view-drupalimc-feature-slider .item-list .slides {
  width: 9999px
}

.view-drupalimc-feature-slider .item-list .slides li {
  float: left;
}
