/*
 * CSS for media files for our view modes.  This gets added to the CSS for
 * both wysiwyg and normal pages.
 */

.file-wrapper-drupalimc_large,
.img__view_mode__drupalimc_large {
  display: block;
  margin: 0.25em auto;
  text-align: center;
}

.file-wrapper-drupalimc_small_left,
.img__view_mode__drupalimc_small_left {
  display: block;
  float: left;
  margin: 0.25em 0.5em 0.25em 0;
}

.file-wrapper-drupalimc_small_right,
.img__view_mode__drupalimc_small_right {
  display: block;
  float: right;
  margin: 0.25em 0 0.25em 0.5em;
}

/*
 * CSS for the image gallery
 */

.node .field-name-field-drupalimc-gallery div {
  display: inline;
}

.node .field-name-field-drupalimc-gallery div.field-label {
  display: block;
}

.field-name-field-drupalimc-gallery img {
  margin-right: 12px;
}
